body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}
/*=======*\
   NAVBAR
\*=======*/

.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Custom styles for the logo in the navigation bar */
.navbar-logo-container {
  margin-left: auto; /* Push the logo to the right */
}

.navbar-logo {
  width: 30px; /* Set the width of the logo */
  max-width: 30px;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
/*=======*\
   HERO SECTION
\*=======*/
.hero {
  position: relative;
}
.hero img {
  object-fit: cover;
  width: 100%;
  max-height: 100vh; /* Ensure the image covers the entire viewport height */
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  text-align: left;
  z-index: 2;
}

.hero h1 {
  font-size: 36px;
  margin-bottom: 10px;
}







/*=======*\
WORKOUT PAGES
\*=======*/
.container {
    padding: 20px;
}
header {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Blog Content styles */
.centered-image {
    text-align: center;
    margin: 20px 0;
}

.centered-image img {
    max-width: 100%;
    height: auto;
}

/* Aside styles */
.wrapper aside {
    text-align: center; /* Add this line */
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
    box-sizing: border-box;
}












/*=======*\
   MEDIA
\*=======*/
/* Responsive adjustments for screens between 768px and 991px */
@media (max-width: 991px) {
  .hero-content {
    left: 5%; /* Adjust left margin for smaller screens */
  }

  .hero h1 {
    font-size: 24px; /* Reduce font size for smaller screens */
  }

  .hero p {
    font-size: 14px; /* Reduce font size for smaller screens */
  }
}
